.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  display: flex;
  flex-direction: column;
  background: #ffdfa7;
  margin: 10px;
  padding: 5px;
  border: 2px solid #ca9650;
}

.fighter-preview___img-reverted {
  transform: scaleX(-1);
}

.fighter-preview___info-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
}